body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 4000px;
  overflow: auto;
}

.masAmigosMAsDiversion {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
  position: fixed;
}

.columna-imagen {
  transition: transform 0.3s ease; /* Agrega una transición suave al cambiar la imagen */
}

.columna-imagen img {
  width: 100px;
  height: 100px;
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  width: 467px;
  height: 400px;
  position: relative;
  left: 50%;
  transition: all 1s ease;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

.columna-imagen img {
  width: 200px;

  height: 200px;
  transition: src 1s ease-in-out; /* Transición suave de cambio de imagen */
}

.card {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.active {
  opacity: 1;
  transform: translateY(0);
}