body {
  margin: 0;
  padding: 0%;
  background-color: #5499f8;
  font-family: "Lato", sans-serif;
  height: 4000px;
  position: relative;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
}

.boton {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 111px;
  text-align: center;
  justify-content: center;
  border: 8px solid var(--2982-ff, #2982ff);
  background: #ffe901;
  color: #02187e;
  font-size: 15px;
  margin-right: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  line-height: 18.9px;
  letter-spacing: 1px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  /* Drop Shadow */
  box-shadow: 4px 5px 0px 0px #02187e;
}

.menu {
  width: 34px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 111px;
  border: 4px solid #2981ff;
  background: #ffe901;
}

#main-header {
  position: fixed;
  display: flex;

  justify-content: space-between;
  background-color: linear-gradient(
    180deg,
    #5499f8 0%,
    #5499f8 87.91%,
    rgba(84, 153, 248, 0) 100%
  );
  text-align: center;
  padding: 15px;
  width: 1280px;
  z-index: 1;
  top: 0;
  transition: background-color 0.3s, padding 0.3s; /* Agrega transiciones suaves para cambios en el fondo y el padding */
}

.logo {
  z-index: 3;
}
#logo {
  max-width: 100%; /* La imagen se ajustar치 al ancho del contenedor */
  transition: max-width 0.3s; /* Agrega transici칩n suave al cambiar el tama침o de la imagen */
}

.nubes {
  display: flex;
  flex-direction: row;
  position: absolute;
  background: url(fondo.jpg), lightgray 50% / cover no-repeat;
  margin-top: 200px;
  width: 1280px;
  height: 720px;
  z-index: 0;
}

.telara침a {
  top: 220px;
  position: absolute;
  z-index: 5;
}

.spider1,
.spider2,
.spider3 {
  position: absolute;
  top: 250px;
}

.spider1 {
  left: 100px;
  top: 220px;
}
.spider2 {
  z-index: 4;
  left: 400px;
}
.spider3 {
  top: 200px;
  left: 700px;
}

.lasDos {
  position: relative;
  width: 100%;
  top: 660px;
}

.texto {
  position: absolute;
  color: white;
  font-size: xx-large;
  top: 150px;
  width: 100%;
  height: 500px;
  background-color: #8f6aa6;
  z-index: 3;
}

.texto h1 {
  width: 60%;
  margin-left: 2%;
  font-weight: 600;
}

.texto p {
  font-size: x-large;
  margin-left: 2%;
  width: 50%;
}

.uno {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #8f6aa6;
  transform: skew(0deg, -6deg);
  top: 0px;
}

.dos {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #8f6aa6;
  transform: skew(0deg, 6deg);
  top: -400px;
  z-index: 2;
}

.duende {
  position: absolute;
  z-index: 5;
  left: 700px;
  top: 800px;
}

.spidervsMalo {
  position: absolute;
  top: 1300px;
  z-index: 4;
}

.blanco {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 1400px;
  top: 1300px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

.blanco .spidersCards {
  top: 600px;
  position: relative;
  width: 332px;
  max-height: 500px;
}
.testSection {
  background: url("./image\ 223\ \(1\).png"), no-repeat;
  position: absolute;
  top: 2700px;
  width: 1280px;
  height: 553px;
  display: flex;
  flex-direction: column;
}
.testSection img:first-child {
  width: 550.108px;
  height: 326.509px;
  transform: rotate(-13.078deg);
  flex-shrink: 0;
  position: relative;
  top: -100px;
}
.testSection img:nth-child(2) {
  width: 550.108px;
  height: 400.509px;
  transform: rotate(-15.474deg);
  position: relative;
  flex-shrink: 0;
  top: -260px;
}
.testSection img:last-child {
  width: 546.108px;
  height: 326.509px;
  transform: rotate(-20deg);
  transform: skew(20, -20deg);
  flex-shrink: 0;
  position: relative;
  top: -400px;
}
