* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0%;
  background-color: #000;
  font-family: "Lato", sans-serif;
  height: 4000px;
  position: relative;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
}

.boton {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 111px;
  text-align: center;
  justify-content: center;
  border: 8px solid var(--2982-ff, #2982ff);
  background: #ffe901;
  color: #02187e;
  font-size: 20px;
  margin-right: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 1000;
  line-height: 18.9px;
  letter-spacing: 1px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  white-space: nowrap;
  /* Drop Shadow */
  box-shadow: 4px 5px 0px 0px #02187e;
}

.boton p{

  margin-left: 10px;
  margin-right: 10px;
}

.boton:hover{

  cursor: pointer;
  border: 8px solid var(--2982-ff, #0e54b6);
  background: #b9aa01;
  color: #020f47;

}

.menu-Completo{
  margin-left: 20px;
}
.menu {
  width: 34px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 111px;
  border: 4px solid #2981ff;
  background: #ffe901;
  filter: drop-shadow(4px 5px 0px #02187E);
  transition: all .5s;
  transform-origin: left;
}



.menu-Completo:hover div:first-child{
  
  transform: rotate(32deg);
  filter : none;
}

.menu-Completo:hover div:nth-child(2){

  opacity: 0;

}


.menu-Completo:hover div:last-child{

  transform: rotate(-32deg);
  filter : none;
}




#main-header {
  position: absolute;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  background: linear-gradient(
                    180deg,
                  #5499f8 0%,
                  #5499f8 87.91%,
                  rgba(84, 153, 248, 0) 100%
  );
  text-align: center;
  padding: 15px;
  width: 100%;
  height: 150px;
  transition: background-color 0.3s, padding 0.3s; /* Agrega transiciones suaves para cambios en el fondo y el padding */
}

.logo {
  z-index: 3;
}
#logo {
  max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
  transition: max-width 0.3s; /* Agrega transición suave al cambiar el tamaño de la imagen */
}

.nubes {
  display: flex;
  flex-direction: row;
  position: absolute;
  background: url(./img/nubes-fondo.png), lightgray 50% / cover no-repeat;
  margin-top: 100px;
  width: 1280px;
  height: 720px;
  z-index: 0;
  
}

.nubes .edificios{
 
  position: absolute;
  z-index: 2;
 filter: blur(3.5px);
}

.edificios{
  position: absolute;
  width: 100%;
 
}


.telaraña , .telaraña2{

  top:890px;
  position: absolute;
  z-index: 34;
}


.telaraña2{

  top: 780px;
  left: 1280px;
  transform: scaleX(-1);
}

.spider1,
.spider2,
.spider3 {
  position: absolute;
  z-index: 32;
 
}

.spider1 {
  left: 100px;
  bottom: 70px;
}
.spider2 {
  z-index: 32;
  left: 400px;
  bottom: 0;
}


.parallax1 , .duendePx , .parallax3, .parallax4, .parallax5{
    position: absolute;
    bottom: 0;

}

.spider3 {
  bottom: 120px;
  left: 700px;
}

.lasDos {
  position: relative;
  width: 100%;
  top: 650px;
}

.texto {
  position: absolute;
  color: white;
  font-size: xx-large;
  top: 200px;
  left: 100px;
  width: 92%;
  height: 500px;
  background-color: #8f6aa6;
  z-index: 4;
}

.texto h1 {
  width: 60%;
  font-weight: 600;
  font-family:Lato ;
  font-size: 60px;
  line-height:  56.7px;
}

.texto p {
  margin-top: 2%;
  width: 46%;

  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.uno {
  position: relative;
  width: 100%;
  height: 600px;
  z-index: 3;
  background-color: #8f6aa6;
  transform: skew(0deg, -6deg);
  top: 0px;
}

.dos {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #8f6aa6;
  transform: skew(0deg, 6deg);
  top: -400px;
  z-index: 2;
}

.duende {
  position: absolute;
  z-index: 7;
  left: 710px;
  bottom: -950px;
}

.spidervsMalo {
  position: absolute;
  top: 1150px;
  left: 90px;
  z-index: 6;
}

.blanco {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 1400px;
  top: 1300px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

.blanco .spidersCards {
  top: 600px;
  position: relative;
  width: 332px;
  max-height: 500px;
  color: #000;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.1s ease;
}
.spidersCards.visible {
  opacity: 1;
  transform: translateY(0);
}
.spidersCards p {
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
  padding-top: 10px;
}
.testSection {
  background: url("./img/image\ 223\ \(1\).png"), no-repeat;
  position: absolute;
  top: 2700px;
  width: 1280px;
  height: 553px;
  display: flex;
  flex-direction: column;
}







.testSection .div1 {
  width: 550.108px;
  /* transform: rotate(-13.078deg); */
  flex-shrink: 0;
  object-fit: cover;
  position: absolute;
  bottom: 270px;
}
.testSection .div2 {
  width: 550.108px;
  /* transform: rotate(-15.474deg); */
  position: absolute;
  flex-shrink: 0;
  object-fit: cover;
  bottom: 50px;
}
.testSection .div3 {
  width: 546.108px;
  flex-shrink: 0;
  object-fit: cover;
  position: absolute;
  bottom: -160px;
  left: 70px;
}

.testSection .imagen{

  
  transition-duration: .8s;
  transition-property: transform;
 
}

.testSection .imagen:hover{


  transform: rotate(20deg);
 
  
}




.vengadores {
  color: white;
  position: relative;
  top: 3450px;
  height: 527.626px;
}
.vengadores h2 {
  color: #fff;
  max-width: 600px;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 56.7px */
  letter-spacing: 0.005em;
  margin-bottom: 40px;
}
.vengadores .vengadoresBG {
  background: url("./img/image\ 222\ 2.png");
  position: relative;
  box-shadow: 5px 20px 30px 8px #333;;
}
.vengadores .vengadoresBG .hojas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vengadores .cpl,
.pantera,
.hulk {
  position: absolute;
  top: 200px;
  z-index: 0;
  left: 0;
}
.vengadores .pantera {
  top: 0px;
  left: 37%;
}
.vengadores .hulk {
  left: 63%;
  top: 60%;
}

.vengadores .cpl{

  top: 130px;
}

.hojas{
  z-index: 1;
}

.scrollFondo{
  position:absolute;
  top: 4100px;
  z-index: -2;
  background-color: #fff;
  height: 2500px;
  width: 1280px;
  transform: skew(0deg, 6deg);
  font-weight: 600;
  font-size:xx-large;
  line-height:56.7px;
}

.titulin{

  transform: skew(0deg, -6deg);
  margin-top: 200px;
  margin-left: 100px;
}







.granPoder{

  position: absolute;
  color: white;
  font-size:30px;
  width: 1280px;
  font-weight: 300;
  top:6680px;
  margin-left: 70px;

}


.granPoder .boton{

  padding: 7px;
  width: 200px;
}

.parteFinal{
  position: absolute;
  top: 7000px;
  width: 1280px;

}

.tresSpider{

  position: absolute;
  top:0;
  background-color: white;
  height: 700px;
  width: 100%;
  transform: skew(0deg, -6deg);
}




.spRosaDos , .spDos , .spNegroDos{
 
  position: relative;
  transition-duration: 1s;
  z-index: 40;
  transform: skew(0deg, 6deg);
}


.spRosaDos{

  top: 70px;
  left: 220px;
}


.spNegroDos{

  top: 70px;
  left: 100px;


}

.spDos{

  top: 100px;
  left : 150px;

}







.fondoRosa , .fondoAzul , .fondoNegro , .tresSpider{

  position: relative;

  width: 100%; 
  height: 600px; 
  transform: rotateY(-16deg);
  z-index: 1;
}

.fondoRosa{

  background: rgba(255, 0, 167.29, 0.7);
  border-bottom: 20px solid  #C92B94;
  border-top: 20px solid  #C92B94;
}
.fondoAzul{

  
  background: rgba(37, 82, 200, 0.1);
  border-bottom: 20px solid  #2552C8;
  border-top: 20px solid  #2552C8;


}
.fondoNegro{


  background: rgba(0, 0, 0, 0.2);
  border-bottom: 20px solid  #304C71;
  border-top: 20px solid  #304C71;


}


.tresSpider{

  background-color:white;
}


.juntos{
 
  position: relative;
  perspective: 943px;
  left:-119px;
}

.todos{
  position:absolute;
  display: flex;
  justify-content: first baseline;
  align-items: center;
  top: 20px;
}





.subscribeSection{

  position: absolute;
  top:550px;
  background: linear-gradient(
                  180deg,
                  #8FBEFC 21.2%,
                  #F7E3D8 81.48%);

  width: 100%;
  height: 1300px;
  z-index: 0;
}

.subscribeSection .edificios{

  position: absolute;
  width: 100%;
  bottom: 0;
}



.mailSection{
  display: flex;
  flex-direction: row;
}


.teenYcorreo{

  display: flex;
  flex-direction: column;
  width: 810px;
  margin-top: 200px;
  margin-left: 200px;
  gap: 50px;
}

.teenYcorreo p {
  font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 94.5%; /* 18.9px */
}

.teenYcorreo h1{

  text-align: center;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 94.5%; /* 56.7px */
}



.ingresarCorreo{

  display: flex;
  border-radius: 50px 0px 0px 50px;
  border-top: 9px solid #2982FF;
  border-bottom: 9px solid #2982FF;
  border-left: 9px solid #2982FF;
  background: #FFF;
  width: 562px;
  height: 90px;
  flex-shrink: 0;
  /* Drop Shadow */
  box-shadow: 4px 5px 0px 0px #02187E;
  text-align: center;
  justify-content: flex-start;
}



.ingresarCorreo p{
  display: flex;
  color: rgba(0, 0, 0, 0.39);
  text-align: center;
  align-items: center;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 94.5%; /* 18.9px */
  letter-spacing: 2.2px;
  margin-left: 40px;
}





.susbBoton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  border: 9px solid #2982FF;
  background: #FFE901;
  /* Drop Shadow */
  box-shadow: 4px 5px 0px 0px #02187E;
}



.susbBoton p {
  color: #02187E;
  font-family: Lato;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 1000;
  line-height: 94.5%; /* 18.9px */
  letter-spacing: 2.2px;
}




.teen{

  width: 25%;
}


.miniSpider1 ,.miniSpider2 , .miniSpider3{

  position: absolute;
  bottom: 0;
  z-index: 1;
}


.miniSpider1{

  left: 214px;
  bottom: 65px;
}

.miniSpider2{

  left: 550px;
  bottom: 170px;
}

.miniSpider3{

  left: 960px;
  bottom: 247px;
}


.consolas{

  position: absolute; 
  width: 100%;
  height: 75px;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  top:1925px;

}

.consolas img{

  margin-left: 120px;
  
}


footer{

  position: absolute;

  top:2000px;
  background-color: #535353;
  width: 100%;
  height: 700px;
}

footer div{

  margin-left: 100px;
   
  display: flex;
  flex-direction: column;
  gap:30px;
}



footer p , footer b{

  color: white;
  width: 70%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%; /* 18.9px */
  letter-spacing: 2.2px;
  margin-top: 60px;
}

footer b{
  
  text-decoration: underline;
}


footer img{

  width: 20%;
 height: 40px;
}



 


.sprite{
  display: inline-block;
  background: url('img/spreet1.png') no-repeat;
  width: 40px;
  height: 150px;
  background-position: 0px 0px;
  animation: move1 1s steps(8) infinite ;
}

@keyframes move1{

  to{
    background-position: -350px 0 ;
  }

}

.redesSprite{

  display: flex;
  flex-direction: row;
}



.sprite2{
  display: inline-block;
  background: url('img/spreet2.png') no-repeat;
  width: 44px;
  height: 150px;
  background-position: 0px 0px;
  animation: move2 1s steps(10) infinite ;
}

@keyframes move2{

  to{
    background-position: -440px 0 ;
  }

}

.sprite3{
  display: inline-block;
  background: url('img/spreet3.png') no-repeat;
  width: 50px;
  height: 150px;
  background-position: 0px 0px;
  animation: move3 0.5s steps(6) infinite ;
}

@keyframes move3{

  to{
    background-position: -300px 0 ;
  }

}


.scrollSection{

  transform: skew(0deg, -6deg);
  margin: 100px;

  display: flex;
  flex-direction: row;
  gap: 50px;
}

.scrollSection img{
  top:0px;
  width: fit-content;
  height: fit-content;
}


.textColumn{

  width:400px;
}


.textColumn div{

  width: 100%;
  margin: 30px;
  opacity: 0;
  transition: opacity .5s ease;
}

.textColumn div h1{

  font-family: Lato;
  font-size: 40px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;

}


.textColumn div p{

  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;


  margin-top: 20px;
  margin-bottom: 40px;
}


.visible{

  opacity: 1;
  transition: all ease;
}